# Compilação de arquivos de saída
*.o
*.out
*.lo
*.la
*.al
*.obj
*.gch
*.pch

# Arquivos de biblioteca
*.lib
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.exe

# Diretórios de build
/libraries/
/build/
/dist/
/Debug/
/Release/

# Logs e arquivos de depuração
*.log
*.stackdump

# Arquivos de depuração do C++ e CMake
*.dSYM/
*.cproject
*.project
*.idea/
*.swp
*.swo

# Arquivos de cache de compilação
CMakeCache.txt
CMakeFiles/

# Arquivos temporários do sistema
*.DS_Store
*.directory

# Configurações de IDE e do sistema
.vscode/
.idea/
*.code-workspace

# Arquivos de backup do editor
*~

# Arquivos criados de disco locais
mydisk*
